---
name: "YAML Test"

on:
  workflow_dispatch:

jobs:
  yaml:
    name: Load YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Load environment from YAML
        uses: doughepi/yaml-env-action@v1
        with:
          files: env1.yaml

      - name: Prepare
        id: prep
        run: |
          FILE="latest.sh"
          if [ -f $FILE ]; then
            APP_VERSION=$($FILE)
          else if [ "${{ env.VERSION }}" != "" ]; then
            APP_VERSION="${{ env.VERSION }}"
          else
            APP_VERSION="0.0.0"
          fi
          echo "App Version is ${APP_VERSION}"